<article id="about">
  <h2>About me:</h2>
  <p>
    A frontend/game developer and C++/Python practitioner with over 5 years of experience from the black sea region.
  </p>
  <p>
    I want to become a good fullstack (preferentially frontend) developer to work in a product company that makes handy
    services. I appreciate the friendly relations in the team and with the management.
  </p>
</article>
