<article id="example">
  <h2>Code examle:</h2>
  <pre class="code" style="font-family: monospace">
  <span style="color: #378dd6; font-weight: bold;">function</span> createPhoneNumber<span style="color: #8655d6;">&#40;</span>numbers<span style="color: #8655d6;">&#41;</span> <span style="color: #8655d6;">&#123;</span>
    <span style="color: #378dd6; font-weight: bold;">return</span> numbers.<span style="color: #dcdcaa;">reduce</span><span style="color: #8655d6;">&#40;</span><span style="color: #8655d6;">&#40;</span>acc<span style="color: #339933;">,</span> n<span style="color: #8655d6;">&#41;</span> <span style="color: #339933;">=&gt;</span> acc.<span style="color: #dcdcaa;">replace</span><span style="color: #8655d6;">&#40;</span><span style="color: #ce834a;">'x'</span><span style="color: #339933;">,</span> n<span style="color: #8655d6;">&#41;</span><span style="color: #339933;">,</span> <span style="color: #ce834a;">'(xxx) xxx-xxxx'</span><span style="color: #8655d6;">&#41;</span>
  <span style="color: #8655d6;">&#125;</span>
  &nbsp;
  <span style="color: #378dd6; font-weight: bold;">function</span> permutations<span style="color: #8655d6;">&#40;</span>str<span style="color: #8655d6;">&#41;</span> <span style="color: #8655d6;">&#123;</span>
    <span style="color: #378dd6; font-weight: bold;">return</span> str.<span style="color: #dcdcaa;">length</span> <span style="color: #339933;">&lt;=</span> <span style="color: #CC0000;">1</span> <span style="color: #339933;">?</span> <span style="color: #8655d6;">&#91;</span>str<span style="color: #8655d6;">&#93;</span> <span style="color: #339933;">:</span> <span style="">Array</span>.<span style="color: #dcdcaa;">from</span><span style="color: #8655d6;">&#40;</span>
      <span style="color: #378dd6; font-weight: bold;">new</span> Set<span style="color: #8655d6;">&#40;</span>str.<span style="color: #dcdcaa;">split</span><span style="color: #8655d6;">&#40;</span><span style="color: #ce834a;">''</span><span style="color: #8655d6;">&#41;</span>
        .<span style="color: #dcdcaa;">map</span><span style="color: #8655d6;">&#40;</span><span style="color: #8655d6;">&#40;</span><span style="color: #9cdcf1;">char</span><span style="color: #339933;">,</span> i<span style="color: #8655d6;">&#41;</span> <span style="color: #339933;">=&gt;</span> permutations<span style="color: #8655d6;">&#40;</span>str.<span style="color: #dcdcaa;">substr</span><span style="color: #8655d6;">&#40;</span><span style="color: #CC0000;">0</span><span style="color: #339933;">,</span> i<span style="color: #8655d6;">&#41;</span> <span style="color: #339933;">+</span> str.<span style="color: #dcdcaa;">substr</span><span style="color: #8655d6;">&#40;</span>i <span style="color: #339933;">+</span> <span style="color: #CC0000;">1</span><span style="color: #8655d6;">&#41;</span><span style="color: #8655d6;">&#41;</span>
          .<span style="color: #dcdcaa;">map</span><span style="color: #8655d6;">&#40;</span>p <span style="color: #339933;">=&gt;</span> <span style="color: #9cdcf1;">char</span> <span style="color: #339933;">+</span> p<span style="color: #8655d6;">&#41;</span>
        <span style="color: #8655d6;">&#41;</span>
        .<span style="color: #dcdcaa;">reduce</span><span style="color: #8655d6;">&#40;</span><span style="color: #8655d6;">&#40;</span>acc<span style="color: #339933;">,</span> val<span style="color: #8655d6;">&#41;</span> <span style="color: #339933;">=&gt;</span> acc.<span style="color: #dcdcaa;">concat</span><span style="color: #8655d6;">&#40;</span>val<span style="color: #8655d6;">&#41;</span><span style="color: #339933;">,</span> <span style="color: #8655d6;">&#91;</span><span style="color: #8655d6;">&#93;</span><span style="color: #8655d6;">&#41;</span>
      <span style="color: #8655d6;">&#41;</span>
    <span style="color: #8655d6;">&#41;</span>
  <span style="color: #8655d6;">&#125;</span>
  </pre>
</article>
