<article id="edu">
  <h2>Education:</h2>
  <ul>
    <li>RSSchool. Frontend 2023Q4. (in progress)</li>
    <li>RSSchool. <a href="https://app.rs.school/certificate/cr6ohdtm" target="_blank">Frontend 2023Q2</a>.</li>
    <li>Y.Practicum. <a href="https://drive.google.com/file/d/1LhYPyJ304XXBK46uxsqkpT5WMUCzunlK/view" target="_blank">Middle frontend-developer</a>.</li>
    <li>
      PSKhK УТ-1 470695. The “programmer” certificate was received along with a diploma of a geodesist at the initiative of a computer science teacher for
      winning Olympiads.
    </li>
    <li>
      Self-development: W3Schools, EnglishClass101, freecodecamp.org, codewars.com, learn.javascript, javascript.info and other. My hand book is MDN Web Docs.
    </li>
  </ul>
</article>
