<article id="edu">
  <h2>Education:</h2>
  <ul>
    <li>Middle frontend-developer course from Y.Practicum.</li>
    <li>
      The “programmer” certificate was received along with a diploma of a geodesist at the initiative of a computer
      science teacher for winning Olympiads (PSKhK).
    </li>
    <li>English B1 (ESCC).</li>
    <li>
      Self-development: RS School, W3 Schools, EnglishClass101, freecodecamp.org, codewars.com, learn.javascript.ru and
      other.
    </li>
  </ul>
</article>
