<article id="exp">
  <h2>Experience:</h2>
  <table>
    <thead>
      <tr>
        <td style="width: 100px">Period</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2023 - now</td>
        <td>
          <h4>European University in St. Petersburg</h4>
          <p><a href="https://prozhito.org/" target="_blank">"Прожито" project</a></p>
        </td>
      </tr>
      <tr>
        <td>2023</td>
        <td>
          <h4>RSSchool</h4>
          <p>Frontend PRE-SCHOOL 2023Q2</p>
          <ul>
            <li><a href="https://mrhoft.github.io/RSSchool/audio-player/">Audio player</a></li>
            <li><a href="https://mrhoft.github.io/RSSchool/eco-sounds/">Eco sounds</a></li>
            <li><a href="https://mrhoft.github.io/RSSchool/library/">Brooklin public library</a></li>
            <li><a href="https://mrhoft.github.io/RSSchool/movie-app/">Movie search</a></li>
            <li><a href="https://mrhoft.github.io/RSSchool/image-gallery/">Image gallery</a></li>
            <li><a href="https://mrhoft.github.io/RSSchool/cssMemeSlider/">CSS meme slider</a></li>
            <li><a href="https://rorschach-game.vercel.app/">Rorschach game</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2022 - 2023</td>
        <td>
          <h4>Y.Practicum</h4>
          <p>Middle frontend-developer.</p>
          <ul>
            <li>
              <a href="https://github.com/mrHoft/pet-chat">web-messenger</a>
              <span> (TS, Templator, MVC, HOC, Websocket, Webpack, Docker)</span>
            </li>
            <li>
              <a href="https://github.com/fastPaws-game/fastPaws">web-game</a>
              <span> (TS, React, Redux, OAuth, SSR, Node, Express, Postgres, Proxy, Helmet, Lerna, Vite, Nginx, Docker, Compose)</span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2011 - 2022</td>
        <td>
          <h4>Freelance</h4>
          <p>Fulfilling orders for development, write books, working on personal projects.</p>
          <ul>
            <li>
              <a href="https://www.esoui.com/downloads/author-23287.html">ESOUI: Author page</a>
              <span> (The Elder Scrolls Online UI: 10kk+ downloads)</span>
            </li>
            <li>
              <a href="https://github.com/mrHoft/MapPins.merge">MapPins.merge</a>
              <span> (Data merge service for <a href="https://www.esoui.com/downloads/info1881-MapPins.html">MapPins</a>)</span>
            </li>
            <li>
              <a href="https://ridero.ru/author/khoft_nikolai_xxhhg/">Ridero: Author page</a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</article>
