<article>
	<h2>Experience:</h2>
	<table>
		<thead>
			<tr>
				<td style="width: 100px">Period</td>
				<td>Description</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2022 - 2023</td>
				<td>
					<h4>Y.Practicum</h4>
					<p>Middle frontend-developer.</p>
					<ul>
						<li>
							<a href="https://github.com/mrHoft/pet-chat">web-messenger</a>
							<br>
							<span>TS, Templator, MVC, HOC, Websocket, Webpack, Docker</span>
						</li>
						<li>
							<a href="https://github.com/fastPaws-game/fastPaws">web-game</a>
							<br>
							<span>TS, React, Redux, OAuth, SSR, Node, Express, Postgres, Proxy, Helmet, Webpack, Nginx, Docker, Compose</span>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>2011 - now</td>
				<td>
					<h4>Freelance</h4>
					<p>Fulfilling orders for development, write books, working on personal projects.</p>
					<ul>
						<li>
							<a href="https://www.esoui.com/downloads/author-23287.html">ESOUI: Author page</a>
							<br>
							<span>The Elder Scrolls Online UI (10kk+ downloads)</span>
						</li>
						<li>
							<a href="https://github.com/mrHoft/MapPins.merge">MapPins.merge</a>
							<br>
							<span>Data merge service for <a href="https://www.esoui.com/downloads/info1881-MapPins.html">MapPins</a></span>
						</li>
						<li>
							<a href="https://ridero.ru/author/khoft_nikolai_xxhhg/">Ridero: Author page</a>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>2010 - 2011</td>
				<td>
					<h4>IE Bilko</h4>
					<p>Installation and administration of server rooms based on Windows NT, networks, video surveillance, 1C.</p>
				</td>
			</tr>
			<tr>
				<td>2001 - 2007</td>
				<td>
					<h4>Mobitel, Picadon, Sunrise</h4>
					<p>Sales manager, director.</p>
					<p>Wholesale and retail trade in computer equipment, mobile phones, software.</p>
				</td>
			</tr>
		</tbody>
	</table>
</article>
