<article id="info">
  <div>
    <wrapper-row>
      <h1>Nikolay Hoft</h1>
      <span>1977</span>
    </wrapper-row>

    <p>Krasnodar, ready to relocate</p>
    <p>Frontend, Gamedev</p>
    <ul id="contacts">
      <h2>Contacts:</h2>
      <li><img src="./src/asserts/email.svg" /><a href="mailto:Hoft@daytec.ru">hoft@daytec.ru</a></li>
      <li><img src="./src/asserts/telegram.svg" /><a href="https://t.me/mrHoft">@mrHoft</a></li>
      <li><img src="./src/asserts/discord.svg" /><a href="https://discord.gg/mr.hoft">mr.hoft</a></li>
      <li><img src="./src/asserts/github.svg" /><a href="https://github.com/mrHoft">mrHoft</a></li>
    </ul>
  </div>

  <img id="photo" title="Author logo" src="https://avatars.githubusercontent.com/u/51874769" alt="Avatar" />
</article>
