<article id="skills">
  <h2>Tech Stack:</h2>
  <ul class="skills">
    <li>
      <div class="diagram skill-html"><img src="./src/asserts/html.svg" /></div>
      <p>HTML5</p>
    </li>
    <li>
      <div class="diagram skill-css3"><img src="./src/asserts/css3.svg" /></div>
      <p>CSS3</p>
      <p>SCSS</p>
      <p>CSS in JS</p>
    </li>
    <li>
      <div class="diagram skill-js">JS</div>
      <p>JavaScript</p>
      <p>TypeScript</p>
    </li>
    <li>
      <div class="diagram skill-node"><img src="./src/asserts/nodejs.svg" /></div>
      <p>Node.js</p>
      <p>Express.js</p>
      <p>SSR</p>
    </li>
    <li>
      <div class="diagram skill-react"><img src="./src/asserts/react.svg" /></div>
      <p>React</p>
      <p>Redux</p>
    </li>
    <li>
      <div class="diagram skill-parcer"><img src="./src/asserts/webpack.svg" /></div>
      <p>Webpack</p>
      <p>Lerna</p>
      <p>Vite</p>
    </li>
    <li>
      <div class="diagram skill-test"><img src="./src/asserts/test.svg" /></div>
      <p>Chai</p>
      <p>Mocha</p>
      <p>Jest</p>
    </li>
    <li>
      <div class="diagram skill-sql">SQL</div>
      <p>SQL</p>
      <p>Postgres</p>
    </li>
    <li>
      <div class="diagram skill-docker"><img src="./src/asserts/docker.svg" /></div>
      <p>Docker</p>
      <p>Compose</p>
    </li>
    <li>
      <div class="diagram skill-linux"><img src="./src/asserts/linux.svg" /></div>
      <p>Unix systems</p>
    </li>
  </ul>
</article>
