<article>
  <h2>Tech Stack:</h2>
  <ul>
    <li>HTML5, CSS3, SCSS</li>
    <li>JavaScript, TypeScript</li>
    <li>Node.js, Express.js</li>
    <li>React, Redux, Styled Components</li>
    <li>Webpack, Lerna, Vite</li>
    <li>Chai, Mocha, Jest</li>
    <li>SQL, Postgres, Sequelize</li>
    <li>Linux, Docker, Compose</li>
    <li>JavaScript, TypeScript</li>
  </ul>
</article>
